
.lista-notas {
  background-color: rgb(95, 50, 138);
  flex-grow: 3;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  list-style-type: none;
  padding-left: 24px;
  padding-top: 24px;
}
.lista-notas_item {
  margin: 12px;
  max-width: 240px;
  max-height: 400px;
  display: inline;
}
.list-postit_body{
  background-color: rgb(95, 50, 138);
  block-size: 3rem;
  text-align: center;
  font-size: 39px;
}
.lista-postit_text{
  
  border-left-width: 500px;
  text-align: center;
  width: fit-content;
  font-size: 30rem;
}