.form-cadastro {
  display: flex;
  flex-grow: 2;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  z-index: 1;
  min-height: 100vh;
  flex-direction: column;
  padding: 12px 40px;
}
.form-cadastro_input {
  margin-top: 3px;
  padding: 4px;
  border: none;
  background-color: rgb(253, 241, 255) /*var(--fundo-detalhes)*/;
  font-family: Consolas, Helvetica, sans-serif;
  font-weight: 100;
}

.form-cadastro_submit {
  align-self: flex-end;
  width: 30%;
  background-color: var(--secundaria);
  color: white;
  font-weight: 400;
}

.form-cadastro_submit:active {
  background-color: rgb(255, 0, 128) /*var(--secundaria-ativa)*/;
  
}

.form-cadastro_button{
  background-color: rgb(252, 63, 157);
  min-width: 300px;
  max-width: 300px;
  min-height: 45px;
  max-height: 45px;
  box-shadow: 3px 3px 0 rgba(255, 171, 210, 0.782);
  

}